*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

a{
    color: #2f2f2f;
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

ul{
    list-style: none;
}

/* Nav Bar */

.nav-bar{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding-top: 20px;
}

.nav-items{
    display: flex;
    flex: 1;
    margin-left: 15px;
}

.nav-items li{
    margin: 0 10px;
}

.nav-bar .logo img{
    width: 100px;
}

.fa-search{
    transform: rotate(90deg);
}

.icons i{
    font-size: 15px;
    margin-right: 15px;
}

/* Slider */

.covid-19{
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
    padding-top:10px;
    color: whitesmoke;
    text-align: center;
    background-color: #0067B8;
}

.slider{
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4CVSe?ver=64e0&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=199&s=2120&d=795&aim=true");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100wv;
}

.slider .content{
    margin-left: 70px;
    position: relative;
    top: 30%;
}

.slider .content h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.slider-btn{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 15px;
    height: 50px;
    width: 200px;
    padding-top: 15px;
    text-align: center;
    background-color: black;
}

/* Showcase */

.show-case{
    margin: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.show-case i{
    font-size: 50px;
    margin-bottom: 10px;
}

/* Coupons */

.coupons ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.coupons ul li img{
    margin-bottom: 25px;
}

.coupons ul li h3{
    font-weight: 500;
    color: #2f2f2f;
}

.lm{
    margin-top: 10px;
    font-weight: bolder;
    color: #0055A5
}

.lm a{
    color: #0055A5
}

/* MS laptop buy me pls */

.buy{
    background-image: url("/img/msltop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    /* font-size: small; */
}

.b-content{
    position: relative;
    top:30px;
    left:100px;
}

.b-content h2{
    margin-bottom: 10px;
}

#slider-btnx{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 15px;
    height: 40px;
    width: 150px;
    padding-top: 10px;
    text-align: center;
    background-color: black;
}

/* For work */

.for-work{
    margin-top: 50px;
}

.for-work h2{
    font-weight: 500;
    font-size: 25px;
}

.for-work .coupons{
    margin-top: 20px;
}

/* Footer Start */

.footer-bg{
    margin-top: 50px;
    background-image: url("/img/msbg.png");
    width: 100%;
    height: 500px;
}

.footer-bg .content{
    color: whitesmoke;
    position: relative;
    top: 60%;
    left: 100px;
}

.footer-bg .content p{
    margin-top: 10px;
}

.lm-btn{
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

